a {
  text-decoration: none;
  color: inherit;
}

.section-header {
  margin: 0 0 60px 0;

  .section-subtitle {
    font-weight: 400;
  }

  .section-title {
    font-weight: 700;
    font-size: 32px;
  }

  .divider span {
    display: block;
    width: 60px;
    height: 3px;
    margin: 20px auto 0 auto;
  }
}