/* Хедер */
.site-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  background: transparent;
  z-index: 1000;
}

.navbar {
  display: flex;
  align-items: center;
  max-width: 1170px; /* або 1170px */
  margin: 40px auto 0 auto; /* верхній відступ */
  padding: 0 15px;
}

/* Лого */
.navbar-brand {
  display: flex;
  align-items: flex-end;
  text-decoration: none;
  color: #fff;
}

.navbar-brand:hover,
.navbar-brand:focus {
  color: #fff;
  text-decoration: none;
  background: none;
  outline: none;
  box-shadow: none;
}

.logo-text {
  display: flex;
  align-items: flex-end;
  gap: 8px;
}

.logo-main {
  margin-left: -150px;
  font-size: 37px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1;
}

.navbar-brand:hover .logo-main::after {
  content: none;
}

.logo-sub {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* вирівнює текст всередині по низу */
  font-size: 14px;
   font-weight: 700;
  letter-spacing: 1px;
  color: #434344; /* як у Lucid, сірий */
  line-height: 1.1;
  margin-bottom: 1px; /* підбери для точного вирівнювання */
}

.burger {
  position: absolute;
  width: 30px;
  height: 22px;
  position: relative;
  cursor: pointer;
  display: none;
  z-index: 1001;
}

.burger span,
.burger::before,
.burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  border-radius: 2px;
  transition: all 0.08s linear; /* <-- ось тут швидкість */
}

.burger span {
  top: 9px;
}

.burger::before {
  top: 0;
}

.burger::after {
  bottom: 0;
}

.burger.active span {
  opacity: 0;
  transform: scaleX(0);
}

.burger.active::before {
  top: 9px;
  transform: rotate(45deg);
}

.burger.active::after {
  bottom: 9px;
  transform: rotate(-45deg);
}

.menu {
  margin-left: auto;
  margin-right: -130px;
  display: flex;
  align-items: center;
  gap: 25px;
  padding-left: 0;
}

.menu a {
  position: relative;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  padding: 0 4px;
  display: inline-block; /* це ключове! */
}

.menu a::after {
  content: "";
  position: absolute;
  left: 10%;
  right: 10%;
  bottom: -4px;
  height: 4px; /* ГРУБЕ підкреслення – як у Lucid */
  background: #008de6;
  opacity: 0;
  transition: none;
  border-radius: 1px; /* для плавних країв, як у Lucid */
}

.menu a.active::after,
.menu a:hover::after,
.menu a:focus::after {
  opacity: 1;
}

@media (max-width: 991.98px) {
  .burger {
    display: block;
  }
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    max-width: 100%;
    height: 320px; /* або ваша потрібна висота */
    background: #18171c;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    opacity: 0;
    pointer-events: none;
    transition: none;
    z-index: 1000;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
  }
  .menu.active {
    opacity: 1;
    pointer-events: auto;
  }
}