.testimonials-section {
    background-color: #1a1a1a; /* dark gray */
    color: #ffffff; /* white */
  
    .author-details {
      p {
        color: #b2b2b2; /* light gray */
      }
    }
  
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      border-color: #ffffff; /* white */
    }
  }